
<h1>{{ graphTitle }}</h1>

<div class="chart-wrapper">
    
    <div class="chart-toolbar">
    
        Operations 
        
        <select (change)="changeGraphType($event.target.value)">
            <option [value]="o.value" *ngFor="let o of graphType">{{o.key}}</option>
        </select>
        
    </div>
    
    <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
    </canvas>
</div>